.container {
    position: absolute;
    width: 90%;
    height: calc(100vh - 128px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content {
    max-width: 600px;
    text-align: center;
}

.container .content h2 {
    font-size: 16vw;
    color: #fff;
    line-height: 1em;
}

.container .content h4 {
    position: relative;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}

