.App {
  text-align: center;
}

.wrap-content{
  background: honeydew;
  width: 93%;
}
.container {
  padding: 0 !important;
  height: calc(100vh - 128px);
}

.grid{
  height: 100%;
  justify-content: flex-start;
  direction: initial;
}