.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.wrap-content{
  background: honeydew;
  width: 95%;
}
.container {
  padding: 0 !important;
  height: calc(100vh - 128px);
}

.grid{
  height: 100%;
  justify-content: flex-start;
  direction: initial;
}