.menu {
    width: 7%;
    background: slategray;
}

.menu a button{
    color: white;
}

.menu a.active button{
    font-weight: bold;
    color: lawngreen;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}