.root {
    width: 90%;
    margin: 10px !important;
}

.images {
    max-height: calc(100vh - 260px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.pagination{
    margin: 10px 30px 10px 10px;
    display: flex;
    justify-content: flex-end;
}